*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #222;
    color: #fff;
       font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.info{
    width: 80%;
    margin: auto;
}

.head{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}
input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background-color: #111;
    border-radius: 5px;
    margin: 5px  0;
    padding: 5px;
    color: #fff;
}
input:focus{
    background-color: #000;
     transform: scale(1.1);
}
.price input{
    width: 20%;
}
#total{
    background-color: rgba(246, 64, 31, 1);
    margin: 5px 4px;
    padding: 5px;
    border-radius: 5px;
}
#total::before{
    content: '  total:  ';
}
button{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: rgb(7, 241, 7);
    border-radius: 5px;
    margin: 10px;
    transition: 0.5s;
}

button:hover{
    background-color:rgb(54, 245, 54);
    color: #fff;
    letter-spacing: 1px;
}
.btnsearch{
    display: flex;
    justify-content: space-between;
}
.btnsearch button{
    width: 45%;
}
table{
    width: 100%;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
table th{
    text-transform: uppercase;
}
th,td{
    padding: 5px;
}